
<body>
        <div class="main" style="background-image: url('assets/img/video-bg.jpg'); background-clip: border-box;"> 
       <video id='video-background' *ngIf="true" autoplay loop  muted onloadedmetadata="this.muted = true">
                 <source src='../../../assets/video/login-background.mp4' type='video/mp4'>
               </video>   
            
               <div class="container">
              <h1 class="cursive">login button here</h1>
               </div>
               <div class="footer">
                 <div class="container">
                   <div class="row">
                     <div class="col-md-6">
                       <h2 class="cursive">Malygin Leonid 2018</h2>
                     </div>
                     <div class="col-md-6">
                      <h3 class="cursive">Contacts:
                        
                        <br> 
                        lenyamalygin@gmail.com
                        <br>
                      
                        <a href="https://github.com/MalyginL">github.com/MalyginL</a>
                 </h3>
                     </div>
                   </div>
                 </div>
               </div>
             
             </div>