
<body>
   
   
        <div class="main" style="background-image: url('assets/img/video-bg.jpg'); background-clip: border-box;"> 
      <video id='video-background' *ngIf="true" autoplay loop  muted onloadedmetadata="this.muted = true">
                 <source src='../../../assets/video/login-background.mp4' type='video/mp4'>
               </video>   
                <div class = container>
                  <div class="row">
                 <div class="col-md-6">
                    <br>
                 <h5>Bot Statistic</h5>
                 <br>
                 <div class="stat "><button  (click)="truncate()">Truncate Cassandra</button> </div>
                  <br>
                 <div class="stat ">Current Topics</div>
                 <br>
                 <div class="stat " *ngFor="let topic of currentTopic">{{topic.text}} </div>
                 <br> 
                 <div class="stat ">Current Cache Pairs</div>
                 <br>
                 <div class="stat " *ngFor="let pair of pairs | keyvalue"> {{pair.key}} ↔ {{pair.value}} </div>
                 <br>
                 <input [formControl]="name" type="text" placeholder="user id"/> 
                 <br>
                 <br>
                 <br>
                 <div class="stat "><button  (click)="loadHistory(name.value)">Load Messages</button> </div>
                 <br>
                 <div class="stat " *ngFor="let message of messages">{{message.message}} </div>

                </div>
                

                <div class="col-md-6" style="text-align:right">
                    <br>
                    <h5>Application Statistic</h5>
                    <br>
                     <div class="stat ">java vendor: {{javaVendor}} </div>
                     <div class="stat ">java version:  {{javaVersion}}</div>
                     <div class="stat ">pid:  {{pid}}</div>
                     <div class="stat ">uptime: {{getFormathours(uptime)}}</div>
                     <br>
                     <div class="stat ">init heap: {{heapInit | SizePipe}}</div>
                     <div class="stat ">commited heap: {{heapCommited|SizePipe}}</div>
                     <div class="stat ">used heap: {{heapUsed|SizePipe}}</div>
                     <div class="stat ">max heap: {{heapMax|SizePipe}}</div>
                     <br>
                     <div class="stat ">init non-heap:  {{nonHeapInit| SizePipe}}</div>
                     <div class="stat ">used non-heap:  {{nonHeapUsed| SizePipe}}</div>
                     <div class="stat ">commited non-heap:  {{nonHeapCommited | SizePipe}}</div>
                     <br>
                     <div class="stat ">current threads: {{threadCount}} </div>
                     <div class="stat ">daemon threads: {{daemons}}</div>
                     <br>
                     <div class="stat ">cache average load penalty: {{averageLoadPenalty}}</div>
                     <div class="stat ">cache hit rate: {{hitRate}}</div>
                     <div class="stat ">cache eviction count: {{evictionCount}}</div>
                     <div class="stat ">cache estimated size: {{estimatedSize}}</div>

                     <br>
                     <div class="stat "><a href="http://185.235.129.57:1010" target="_blank">Pg admin</a></div>
                   </div>
                   </div>
               </div>
              
               <div class="footer">
                 <div class="container">     
                       
                   <div class="row">
                     <div class="col-md-6" >
                       <h2 class="cursive" >Malygin Leonid 2019</h2>
                     </div>
                     <div class="col-md-6">
                      <h3 class="cursive">Contacts:
                        
                        <br> 
                        lenyamalygin@gmail.com
                        <br>
                        <a href="https://github.com/MalyginL" target="_blank">github.com/MalyginL</a>
                 </h3>
                     </div>
                   </div>
                 </div>
               </div>
             
             </div>
           
             </body>